#tasks-list{
    list-style-type: none;
}

.check-button{
    border-radius: 50%;
    border: none;
    width: 25px;
    height: 25px;
}

.check-button.completed{
    background-color: green;
}

li{
    margin: 10px;
    padding: 30px;
    background-color: rgba(135, 183, 255, 0.555);
}

.completed-task{
    text-decoration: line-through;
}